<div class="text_bs">
<h1> Terms and Conditions </h1>


<p>This website ("Website") is owned and operated by LIANNARDO Limited.</p>

<p>
These Terms (as defined below) are entered into by you, the Client, either as the entity which: (i) accepts these Terms online; or (ii) signs the Paper Agreement ("Client") and LIANNARDO Limited, a private limited company registered at Companies House, number: 07659662, with its registered office located in London, England ("LIANNARDO"). These Terms govern your participation in the Programme (as defined below).
</p>

<p>
1. Definitions
</p>

<p>
"Terms" is used to denote this Website's Terms and Conditions.
</p>

<p>
"Paper Agreement" means a document referencing the Terms (including, but not limited to, a front page and signature page referencing the Terms).
</p>

<p>
"LIANNARDO", "we", "us" and "our" when used in these Terms mean LIANNARDO Limited which includes any parent, subsidiaries, divisions, branches, affiliates or companies under common ownership or control of us.
</p>

<p>
"LIANNARDO Property" is used to denote any website, application, property and/or other media owned, operated or provided by LIANNARDO.
</p>

<p>
"Client(s)", "you" and "your" when used in these Terms refer to the entity which: (i) accepts these Terms online; or (ii) signs the Paper Agreement. A Client is the entity whose Campaigns (whether created for itself or for a third party advertister) are made available in a LIANNARDO Property.
</p>

<p>
"End User(s)" is used to denote any user of this Website, a member of the public who willingly participates in any products and services hosted by a LIANNARDO Property, not in the course of business.
</p>

<p>
"Campaign(s)" is used to denote the advertising Campaign(s) that a Client creates in a LIANNARDO Property, including but not limited to Quiz and Survey questions (Text, Image & Video), Task Contests, Text Contests, Comparison Contests and Rating Contests.
</p>

<p>
"Programme" is used to denote, as a whole, the different types of online products and services offered by LIANNARDO, as for example advertising Campaigns and any new products and services that may be introduced to the Programme from time to time.
</p>

<p>
"LIANNARDO Client Account" is used to denote the escrow-like bank account into which the Client deposits money which is to be used exclusively to fund ("Inventory Funds") the rewards paid out to End Users who successfully complete their Campaign(s).
</p>

<p>
"LIANNARDO Business Account" is used to denote the bank account into which the Client deposits LIANNARDO's "Administration Commission".
</p>

<p>
"Unassigned Funds" is used to denote the mother account inside the LIANNARDO Client interface (online system). This is the account where all Inventory Funds are placed into when the Client adds funds to the account. This is also the only account in the online system where the funds can sit when they are not placed in a particular Campaign.
</p>

<p>
"Acceptance Date" means either: (i) the date on which the Client accepts these Terms online; or (ii) the Acceptance Date specified in the Paper Agreement (if any).
</p>


  </div>