
<%#= search_form_for @q do |f| %>
  <p>
    <%#= f.label :content_cont %>
    <%#= f.text_field :content_cont %>
  </p>
  <p>
    <%#= f.submit %>
  </p>
<%# end %>
<div class="new_post_count">You have 0 new posts</div>
<%= render "posts/sidebarprofile"%>
<%= render "posts/feed"%>

