
<%#= search_form_for @q do |f| %>
  <p>
    <%#= f.label :content_cont %>
    <%#= f.text_field :content_cont %>
  </p>
  <p>
    <%#= f.submit %>
  </p>
<%# end %>


<%= render "posts/sidebarprofile"%>
<%= render "posts/feed"%>





