*{
  box-sizing: border-box;
}
.left-sidebar{
  border: 1px solid black;
  display: inline-block;
  padding: 20px;
  text-align: center;


}

.profile_feed{
  border: 1px solid black;
  display: inline-block;
  padding: 20px;
  text-align: center;

}