*{
  box-sizing: border-box;
  margin: 0px;  
  padding: 0px;

}
body{
  background-color: #D1D1E0;
}

.profile_sidebar{
  float: left;
  width: 40%;
  position: fixed;
  text-align: center;
  background-color: white;
  padding: 20px;
  padding-bottom: 100px;
  border-radius: 5px;
  min-width: 320px;
  display: block;
  border: 1px solid #f5f5f8;
}


.profile_feed{
  float: right;
  width: 60%;
  border: 1px solid #f5f5f8;
}

.profile_post{
  border: 1px solid #f5f5f8;
  height: 125px;
  background-color: white;
  border-radius: 5px;
}


#user_name{
  height: 100%;
  font-size: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 30px;
}



.member_listing{
  background-color: white;
  border-radius: 5px;
}
 h1{
  padding: 20px;
 }

.feed_content_div{
  padding-top: 20px;
  text-align: center;
 }
/*
  
  .new_post_count{
    border: 1px solid white;
    text-align: center;
    padding: 20px;
  }
 .followers{
   padding: 7px;
 }

.profile_feed{
  border: 1px solid white;
  display: block;
  padding: 30px;
  text-align: center;
  float: right;
  
  height: 125px;
  min-width: 320px;
  display: block;
  background-color: white;
}
.each_element{
  float: left;

}

@media only screen and (max-width: 960px){ 
  .left-sidebar{
    width: 50%;
  }
  .left-sidebar:last-child{
    width: 100%;
  }
}

@media only screen and (max-width: 640px){ 
  .profile_feed{
    width: 100%;
  }
}

.tweet_content{
  font-size: 17px;
  border: 1px solid white;
  padding: 20px;

}
.edit_post{
  float: right;
}
.user_name{
  float: left;
}
.votes{
  display: inline-block;
  float: right;


}
.icons{
  display: inline-block;
  float: right;
}
.glyphicon{
  display: inline-block;
  float: right;
}
.glyphicon-thumbs-up{
  float: right;
}
.glyphicon-thumbs-down{
  float: right;
}
.footer{
  display: inline-block;

  width: 100%;
}


/*Styling for profile page*/





.member_listing{
  border: 1px solid black;
  width: 45%;
  margin:2%;
  height: 200px;
  float:left;
  background-color: white;
  text-align: center;
}
.member_listing_name{
  font-size: 30px;
}
.member_listing_image{
  width: 100%;
  height: 100%;
  display: inline-block;
}

.memlistimage_div{
  width: 30%;
  height: 70%;
  display: inline-block;
}

.member_listing_bio{
  width: 65%;
  display: inline-block;
}

#user_search_box{
  clear: both;
}

.member_listing_footer{
  clear: both;
}
