*{
  margin: 0;
  padding: 0;
}

#feed {
  display: inline-block;
  width: 60%;
  
  margin-left: 200px;
}

#sidebar_profile {
  display: inline-block;
  width: 20%;
  position: fixed;
  top: 50px;
  margin-top: 50px;
}

#nav_image {
  max-width: 75px;
  height: 50px
}

#sidebar_image {
 max-width: 200px; 
}

#sidebar_list {
  list-style: none;
}




.unchecked_status {
  background-color: blue;
}
.hated_status {
  background-color: red;
}


.liked_status {
  background-color: green;
}

.following {
  background-color: pink;
}


.not_reposted{
  background-color: grey;
}

.reposted {
background-color: pink;  
}


.smiley {
  width: 20px;
}


