*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 


#feed {
  display: inline-block;
  width: 60%;
  
  margin-left: 200px;
}

#sidebar_profile {
  display: inline-block;
  width: 20%;
  position: fixed;
  top: 50px;
  margin-top: 50px;
}

#nav_image {
  max-width: 75px;
  height: 50px
}


.tweet div {
  border: 1px solid green;
  float: left;
}
.tweet {
  border: 1px solid black;
  height: 100px;
}




/*FEED STYLING*/
.name_td {
  width: 25%;
}

#feed_content_div {
  width: 50%;

}

#feed_smiley_div {
  width: 25%;
}

#feed_image_div {
  width: 25%;
  max-height: 70%;
}

#post_image {
  width: 100%;
}

.score_icon {
  width: 10%
}
.user_score {
  width: 10%
}

#feed_like_button {
  width: 10%
}

.likes{
  width: 10%
}

.hates{
  width: 10%
}
#feed_hate_button{
  width: 10%
}







#sidebar_image {
 max-width: 200px; 
}



#sidebar_list {
  list-style: none;
}

tr {
  border: 1px solid black;
}


.unchecked_status {
  background-color: blue;
}
.hated_status {
  background-color: red;
}


.liked_status {
  background-color: green;
}

.following {
  background-color: pink;
}


.not_reposted{
  background-color: grey;
}

.reposted {
background-color: pink;  
}


.smiley {
  width: 20px;
}


