


.unchecked_status {
  background-color: blue;
}
.hated_status {
  background-color: red;
}


.liked_status {
  background-color: green;
}

.following {
  background-color: pink;
}
.not_following {
  background-color: red;
}


.not_reposted{
  background-color: grey;
}

.reposted {
background-color: pink;  
}


