/* This one has the boxes that contain the content of the signin and signup pages */
.box {
background-image: -webkit-gradient(
  linear, left top, left bottom, from(rgba(50,50,50,0.8)),
  to(rgba(80,80,80,0.2)), color-stop(.5,#333333)
  );
  color: blue;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 15px;
  float: right;
  max-width: 320px;
  margin-right: 5px; 
  border-style:dashed;
  padding: 0px 17px 17px 17px;
}


.excludes_button_color{
  color: black;
}

#youtube {
    position:absolute;
    z-index:-1000;
    width:101%;
    height: 120%;
    top:0;
    left: 0;  
  }

  .text_bs {
 
  color: black;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 24px;
  float: left;
  max-width: 700px;
  margin-left: 320px; 
  border-style:dashed;
  padding: 0px 17px 17px 17px;
  }






